.navbarContainer {
  height: 150px;
  background-color: black;
}

.navbarContainer .line {
  background-color: white;
  display: flex;
  width: 1200px;
  height: 1px;
  margin-left: 40px;
}

.logo {
  display: flex;
  justify-content: center;
}

img {
  height: 80px;
}

.menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

#navbarLink {
  color: white;
  text-decoration: none;
}

.imageSlideshow img {
  width: 100%;
  height: 453px;
}

h2 {
  margin-left: 150px;
  margin-top: 50px;
}

.highlightExhibition {
  margin-left: 180px;
}

.highlightExhibition img {
  margin-top: 50px;
  height: 377px;
  width: 869px;
  border-radius: 8px;
  margin-bottom: 0px;
}

.welcome {
  text-align: center;
}

.NGSDesc {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 18px;
}

.footer {
  height: 300px;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
}

.about {
  color: white;
  display: inline-block;
  margin: 50px 0px 0px 25px;
}

.contact {
  color: white;
  display: inline-block;
  margin: 50px 0px 0px 70px;
}

.contactDetails {
  color: white;
}

.footer .line {
  height: 250px;
  width: 1px;
  background-color: white;
  margin: 25px 0px 0px 70px;
}

.socialsContainer {
  color: white;
  margin: 50px;
}

.followUs {
  margin-bottom: 0px;
}

.followLine {
  background-color: white;
  height: 1px;
  width: 450px;
}

.instagram {
  height: 25px;
  width: 25px;
  margin-right: 20px;
}

.facebook {
  height: 25px;
  width: 25px;
  margin-right: 20px;
}

.twitter {
  height: 25px;
  width: 25px;
  margin-right: 20px;
}

.youtube {
  height: 25px;
  width: 35px;
}

#NGSBuilding {
  width: 100%;
  height: 453px;
}

#NGSInside {
  width: 100%;
  height: 453px;
}

#NGSOuter {
  width: 100%;
  height: 453px;
}

#Stairs {
  width: 100%;
  height: 453px;
}

.event {
  display: flex;
  flex-direction: row;
  border: red dotted 1px;
}

.events {
  border: red dotted 1px;
}
